<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Website</title>
  <!-- D3 library -->
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <!-- Plotly library -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin="" />

  <!-- Leaflet JavaScript code -->
  
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin="" />

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <script type="text/javascript" src="../templates/GreatCircle.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
  <h1>Celebrity Flight Tracker</h1>
  <h3>Data represent flights between 5/29/2023 and 5/29/2024</h3>
  <li>All tail numbers and associated celebrities were sourced from
    <a href="https://celebrityprivatejettracker.com/celebrity-jets/">Celebrity private jet tracker</a>
  </li>
  <p><br></p>
  <hr><hr>
  <p></p>
  <h2>Visualiztions:</h2>
  <a href="http://127.0.0.1:5000/all_flights">Map of All Flights By Celebrity</a><br>
  <a href="http://127.0.0.1:5000/comparison">Comparison of Celebrities to National Averages</a><br>
  <a href="http://127.0.0.1:5000/heatmap">Heatmap Showing Most Popular Destinations</a><br>

  <h2>Data Endpoints:</h2>
  <a href="http://127.0.0.1:5000/flight_data">Flight Data JSON</a><br>
  <a href="http://127.0.0.1:5000/destinations">Destinations Data JSON</a>"
  </p>
</body>
</html>

