<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Website</title>
  <!-- D3 library -->
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <!-- Plotly library -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
  <h1>Celebrity Flight Tracker</h1>
  <h3>Data represent flights between 5/29/2023 and 5/29/2024</h3>
  <li>All tail numbers and associated celebrities were sourced from
    <a href="https://celebrityprivatejettracker.com/celebrity-jets/">Celebrity private jet tracker</a>
    <p><br></p>
  </li>
  <!-- Dropdown menu -->
  <select id="selDataset" onchange="optionChanged(this.value)"></select>
  <!-- Div for the bar chart -->
  <div id="bar"></div>
  <!-- Local JavaScript file -->
  <script src="../static/js/plot2.js"></script>

  <!-- Define the optionChanged function in Megan_Code_Plot.js or any other JavaScript file -->
  <script>
    // Define the optionChanged function here or include it from another JavaScript file
    function optionChanged(selectedValue) {
        // Your logic for handling the selected value goes here
        console.log('Selected value:', selectedValue);
    }
  </script>
  <p>
    <h2>Data Endpoints:</h2>
    <a href="http://127.0.0.1:5000/flight_data">Flight Data JSON</a><br>
    <a href="http://127.0.0.1:5000/destinations">Destinations Data JSON</a>"
  </p>
</body>
</html>

